<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardflight.mobilebowling">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardFlight">
        <activity
            android:name="com.cardflight.mobilebowling.ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.CardFlight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cardflight.mobilebowling.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.cardflight.mobilebowling.ItemListActivity"
            android:theme="@style/Theme.CardFlight.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cardflight.mobilebowling.ItemListActivity" />
        </activity>
    </application>

</manifest>